HDFC_RTGSOUT_TXTMessage_Lib/temp.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
                    <xsd:element ibmSchExtn:docRoot="true" name="RR42_additional">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="SenderAcctName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SenderIfsc" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SenderAcctNumber" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SenderToRecvInfo" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RecvAcctNumber" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RecvAcctName" type="xsd:string"/>
        <xsd:element minOccurs="0" name="RecvIfsc" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="temp">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="HO_IFSC_Sender" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="HO_IFSC_Receiver" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="OrgnlMsgId" type="xsd:string"/>
                            						<xsd:element name="OrgnlTxId" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>