RTGS_XML/importFiles/shared/Ved/RTGS_RRB(ISO_2000)/ng-rtgs3/NG-RTGS3/head.001.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by RBI for NGRTGS (Draft) Version 1.2 on 2013 Feb 27 -->

<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" elementFormDefault="qualified">
	<xs:element name="AppHdr" type="BusinessApplicationHeaderV01"/>
	<xs:complexType name="Party9Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="BusinessApplicationHeader1">
		<xs:sequence>
			<xs:element name="Fr" type="Party9Choice"/>
			<xs:element name="To" type="Party9Choice"/>
			<xs:element name="BizMsgIdr" type="Max35Text"/>
			<xs:element name="MsgDefIdr" type="Max35Text"/>
			<xs:element name="BizSvc" type="Max35Text" />
			<xs:element name="CreDt" type="ISONormalisedDateTime"/>
			<xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code" />			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessApplicationHeaderV01">
		<xs:sequence>
			<xs:element name="Fr" type="Party9Choice"/>
			<xs:element name="To" type="Party9Choice"/>
			<xs:element name="BizMsgIdr" type="Max35Text"/>
			<xs:element name="MsgDefIdr" type="Max35Text"/>
			<xs:element name="BizSvc" type="Max35Text" />
			<xs:element name="CreDt" type="ISONormalisedDateTime"/>
			<xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code" />			
			<xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope" />
			<xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="BusinessApplicationHeader1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:simpleType name="CopyDuplicate1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CODU"/>
			<xs:enumeration value="COPY"/>
			<xs:enumeration value="DUPL"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:complexType name="SignatureEnvelope">
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
