RTGS_XML/importFiles/shared/Ved/RTGS_RRB(ISO_2000)/ng-rtgs3/NG-RTGS3/pacs.004.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by RBI for NGRTGS (Draft) Version 1.2 on 2013 Feb 27 -->

<xs:schema elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.03" xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>    
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactDetails2">
        <xs:sequence>
		<xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
		<xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>            
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PmtRtr" type="PaymentReturnV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalReturnReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC02"/>
            <xs:enumeration value="AC03"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AC09"/>
            <xs:enumeration value="AG07"/>
            <xs:enumeration value="AM01"/>
            <xs:enumeration value="AM04"/>
            <xs:enumeration value="AM05"/>
            <xs:enumeration value="AM10"/>            
            <xs:enumeration value="AM12"/>
            <xs:enumeration value="BE04"/>
            <xs:enumeration value="BE06"/>
            <xs:enumeration value="BE18"/>            
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="DS02"/>
            <xs:enumeration value="DS04"/>
            <xs:enumeration value="DS06"/>
            <xs:enumeration value="DS0D"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>           
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader54">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NbOfTxs" type="Max15NumericText"/>
            <xs:element name="TtlRtrdIntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="SttlmInf" type="SettlementInstruction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>   
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalGroupHeader2">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="Max35Text"/>
            <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
	    <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentReturnReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification43"/>
            <xs:element name="Rsn" type="ReturnReason5Choice"/>
            <xs:element name="AddtlInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentReturnV03">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader54"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlGrpInf" type="OriginalGroupHeader2"/>
            <xs:element name="TxInf" type="PaymentTransaction34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransaction34">
        <xs:sequence>
            <xs:element name="RtrId" type="Max35Text"/>
            <xs:element name="OrgnlInstrId" type="Max35Text"/>
            <xs:element name="OrgnlEndToEndId" type="Max35Text"/>
            <xs:element name="OrgnlTxId" type="Max35Text"/>
            <xs:element name="RtrdIntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5"/>
            <xs:element name="RtrRsnInf" type="PaymentReturnReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnReason5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalReturnReason1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction1">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>          
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="INGA"/>
            <xs:enumeration value="COVE"/>
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>