WB_NeftRtgsStandards/ISO/camt.052.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SFMS for NEFT-ISO 20022 version : 2022--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="BankToCustomerAccountReportV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81"/>
            <xs:element name="Rpt" type="AccountReport25"/>            
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="GroupHeader81">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>  
			<xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text"/>			
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="AccountReport25">
        <xs:sequence>
            <xs:element name="ElctrncSeqNb" type="Number"/>
			<xs:element name="Ntry" type="ReportEntry10"/>
        </xs:sequence>
    </xs:complexType>
	 <xs:complexType name="ReportEntry10">
        <xs:sequence>
            <xs:element name="Sts" type="EntryStatus1Choice"/>
            <xs:element name="ValDt" type="DateAndDateTime2Choice"/>
            <xs:element name="NtryDtls" type="EntryDetails9"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="EntryStatus1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalEntryStatus1Code"/>
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="ExternalEntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
	 <xs:complexType name="EntryDetails9">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="1" name="TxDtls" type="EntryTransaction10"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="EntryTransaction10">
        <xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="RmtInf" type="RemittanceInformation16"/>
        </xs:sequence>
    </xs:complexType>
	 <xs:complexType name="RemittanceInformation16">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="Ustrd" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="ISODate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
	<xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>	
	<xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
			<xs:enumeration value="NENL"/>
			<xs:enumeration value="RJTDBIT"/>
			<xs:enumeration value="RTNCRDT"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>	
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>