WB_NeftRtgsStandards/ISO/camt.059.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SFMS for NEFT-ISO 20022 version : 2022--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.059.001.06" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.059.001.06">
    <xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NtfctnToRcvStsRpt" type="NotificationToReceiveStatusReportV06"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="NotificationToReceiveStatusReportV06">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader84"/>
            <xs:element name="OrgnlNtfctnAndSts" type="OriginalNotification11"/>            
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="GroupHeader84">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>            
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
	<xs:complexType name="OriginalNotification11">
        <xs:sequence>          
            <xs:element maxOccurs="20" minOccurs="1" name="OrgnlNtfctnRef" type="OriginalNotificationReference9"/>
        </xs:sequence>
    </xs:complexType>
	 <xs:complexType name="OriginalNotificationReference9">
        <xs:sequence>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>       
            <xs:element name="OrgnlItmAndSts" type="OriginalItemAndStatus6"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>           
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>            
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
   </xs:complexType>
    <xs:complexType name="OriginalItemAndStatus6">
        <xs:sequence>
            <xs:element name="OrgnlItmId" type="Max35Text"/>
            <xs:element name="OrgnlEndToEndId" type="Max35Text"/>           
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="XpctdValDt" type="ISODate"/>
            <xs:element name="ItmSts" type="NotificationStatus3Code"/>            
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	 <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
	<xs:simpleType name="NotificationStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCBD"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="NRCD"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>