WB_NeftRtgsStandards/ISO/head.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SFMS for NEFT ISO 20022 version : 2022--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.02" xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.02">
    <xs:element name="AppHdr" type="BusinessApplicationHeaderV02"/>
	<xs:complexType name="BusinessApplicationHeaderV02">
        <xs:sequence>
            
            <xs:element name="Fr" type="Party44Choice"/>
            <xs:element name="To" type="Party44Choice"/>
            <xs:element name="BizMsgIdr" type="Max35Text"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="BizSvc" type="Max35Text"/>           
            <xs:element name="CreDt" type="ISODateTime"/>          
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>            
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="BusinessApplicationHeader5"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="Party44Choice">
        <xs:choice>            
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>           
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>            
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
	 <xs:complexType name="BusinessApplicationHeader5">
        <xs:sequence>            
            <xs:element name="Fr" type="Party44Choice"/>
            <xs:element name="To" type="Party44Choice"/>
            <xs:element name="BizMsgIdr" type="Max35Text"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="BizSvc" type="Max35Text"/>
            <xs:element name="CreDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>            
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>