WB_NeftRtgsStandards/ISO/pacs.008.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SFMS for NEFT-ISO 20022 version : 2022--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.09" xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.09">
  <xs:element name="Document" type="Document"/>
  <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV09"/>
        </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFICustomerCreditTransferV09">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader93"/>
            <xs:element maxOccurs="10" minOccurs="1" name="CdtTrfTxInf" type="CreditTransferTransaction43"/>          
		</xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NbOfTxs" type="Max15NumericText"/>
            <xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="SttlmInf" type="SettlementInstruction7"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="ISODate">
        <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
   <xs:complexType name="SettlementInstruction7">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>            
        </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="INGA"/>
            <xs:enumeration value="COVE"/>
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>           
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>            
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CreditTransferTransaction43">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification13"/>
            <xs:element name="PmtTpInf" type="PaymentTypeInformation28"/>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="ChrgBr" type="ChargeBearerType1Code"/>
            <xs:element name="Dbtr" type="PartyIdentification135"/>
            <xs:element name="DbtrAcct" type="CashAccount38"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Cdtr" type="PartyIdentification135"/>
            <xs:element name="CdtrAcct" type="CashAccount38"/>
            <xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation16"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="PaymentIdentification13">
        <xs:sequence>
            <xs:element name="EndToEndId" type="Max35Text"/>    
            <xs:element name="TxId" type="Max35Text"/>        
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaymentTypeInformation28">
        <xs:sequence>
            <xs:element name="InstrPrty" type="Priority2Code"/>           
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"/>
            <xs:element name="LclInstrm" type="LocalInstrument2Choice"/>
            <xs:element name="CtgyPurp" type="CategoryPurpose1Choice"/>
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/>            
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>            
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="CategoryPurpose1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>            
        </xs:choice>
    </xs:complexType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/> 
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"/>			
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"/>
			
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
		</xs:sequence>
    </xs:complexType>
	<xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>           
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="CashAccount38">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>            
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>           
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>           
        </xs:choice>
    </xs:complexType>
	 <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="InstructionForCreditorAgent3">
        <xs:sequence>
            <xs:element name="InstrInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="RemittanceInformation16">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="Ustrd" type="Max140Text"/>           
        </xs:sequence>
    </xs:complexType>
     <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
        <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
	 <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>