WB_NeftRtgsStandards/ISO/pacs.002.001.11.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SFMS for NEFT-ISO 20022 version : 2022--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.11" xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.11">
    <xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV11"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="FIToFIPaymentStatusReportV11">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader91"/>
            <xs:element maxOccurs="10" minOccurs="1" name="TxInfAndSts" type="PaymentTransaction123"/>     
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="GroupHeader91">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
	<xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>           
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>            
        </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
   </xs:complexType>
	<xs:complexType name="PaymentTransaction123">
        <xs:sequence>
            <xs:element name="StsId" type="Max35Text"/> 
            <xs:element name="OrgnlEndToEndId" type="Max35Text"/>   
			<xs:element name="OrgnlTxId" type="Max35Text"/>			
            <xs:element name="TxSts" type="ExternalPaymentTransactionStatus1Code"/>
            <xs:element name="StsRsnInf" type="StatusReasonInformation12"/>                     
        </xs:sequence>
    </xs:complexType>
	 <xs:simpleType name="ExternalPaymentTransactionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
 <xs:complexType name="StatusReasonInformation12">
        <xs:sequence>            
            <xs:element name="Rsn" type="StatusReason6Choice"/>		
			<xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max105Text"/>			
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="StatusReason6Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"/>            
        </xs:choice>
    </xs:complexType>
	 <xs:simpleType name="ExternalStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>